html {
    background-image: url(images/worldmap-hand.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-size: 10px;
}

main {
    min-width: 100%;
}

header{
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .1rem;
    height: 100px;
}

.headerList {
    text-align: center;
}

.headerList ul {
    padding-left: 0px;
}

.headerIcon{
    text-align: center;
}

img.icon {
    height: 50px;
}

header img, header li {
    display: inline-block;
}

ul.col-6 {
    text-align: center;
}

fieldset {
    border: 0;
}

.labelContainer {
    margin-top: 15px;
    margin-bottom: 15px;
}

label span {
    background-color: rgb(94, 161, 200);
    border-radius: 5px;
    padding: 5px;
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
    /* margin-bottom: 5px; */
    position: relative;
    bottom: 5px;
}

button.startButton,
button.js-next-btn,
button.restartBtn {
    background-color: rgb(94, 161, 200);
}

button.questionSubmit {
    background: #74c2a6;
}

button.startButton, 
button.questionSubmit,
button.js-next-btn,
button.restartBtn {
    border: none;
    border-radius: 33px;
    padding: 15px;
    width: 200px;
    box-shadow: 5px 5px 10px #b1b1b1;
}

.quizStart {
    text-align: center;
}

.quizStart h1 {
    margin: 0;
}

img.col-12.questionIcon {
    height: 50px;
}

img.col-12.questionIcon {
    height: 50px;
}

img.icon.col-12 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mainIcon {
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.responseH2 {
    margin-top: 0px;
}

section.js-feedback-correct, 
section.js-feedback-Incorrect,
section.js-quiz-results {
    text-align: center;
}

.questionAnswerForm {
    margin-bottom: 20px;
    font-size: 2rem;
    background: rgba(255, 255, 255, 0.8);
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 800px;
    margin: 25% auto;
}

legend {
    margin: 0 auto;
}

.questionText:hover {
    cursor: pointer;
}

section.js-quiz-results {
    margin-top: 20px;
}

button.js-restart-btn {
    background-color:rgba(251, 251, 251, 0.59);
    margin-bottom: 40px;
    border: none;
    border-radius: 25px;
    padding: 20px;
}

.buttonDiv{
    text-align: center
}

button.questionSubmit {
    margin-top: 25px;
}

/* test radio button and label styles */

label [type='radio'] {
    display: none;
}

:checked + span {
    background: yellow;
}

header.row {
    margin-top: 20px;
}
