/* html, body *{
    box-sizing: border-box;
} */
/* added background image */
html {
    background-image: url(images/worldmap-hand.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100vh; */
    height: 100vh;
    font-size: 10px;
}

header.row {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .1rem;
}

img.icon {
    height: 50px;
}

header img, header li {
    display: inline-block;
}

ul.col-6 {
    text-align: center;
}

button.startButton {
    background-color: cadetblue;
    border: none;
    /* border: 1px black solid; */
    border-radius: 33px;
    padding: 10px;
    width: 120px;
}

.questionAnswerForm {
    text-align: center;
}