/* html, body *{
    box-sizing: border-box;
} */
/* added background image */
html {
    background-image: url(images/worldmap-hand.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100vh; */
    height: 100vh;
    font-size: 10px;
}

header.row {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .1rem;
}

img.icon {
    height: 50px;
}

header img, header li {
    display: inline-block;
}

ul.col-6 {
    text-align: center;
}

fieldset {
    border: 0;
}

main#js-quiz-state {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
}

button.startButton {
    background-color: cadetblue;
    border: none;
    /* border: 1px black solid; */
    border-radius: 33px;
    padding: 10px;
    /* width: 120px; */
}

.quizStart{
    text-align: center;
}

img.col-12.questionIcon {
    height: 50px;
}

/* You might want to change these settings */

main#js-quiz-state {
    font-size: 2.5rem;
    background-color: white;
}

img.col-12.questionIcon {
    height: 50px;
}

button.questionSubmit {
    /* text-align: center; */
    width: 100%;
    text-align: left;
    padding: 20px;
    /* margin: 10px; */
    background-color: aliceblue;
    margin-top: 10px;
}

img.icon.col-12 {
    margin-top: 20px;
    margin-bottom: 20px;
}

section.js-feedback-correct, 
section.js-feedback-Incorrect,
section.js-quiz-results {
    text-align: center;
}

.questionAnswerForm.js-question-Answer-Form {
    margin-bottom: 20px;
}

button.js-next-btn {
    background-color: lightblue;
    margin-bottom: 40px;
    border: none;
    border-radius: 25px;
    padding: 20px;
}

section.js-feedback-correct {
    margin-top: 20px;
}

section.js-quiz-results {
    margin-top: 20px;
}

button.js-restart-btn {
    background-color: #7A8FAE;
    margin-bottom: 40px;
    border: none;
    border-radius: 25px;
    padding: 20px;
}